@{
    ViewData["Title"] = "Sosyal mediya";
}
@model WebUI.Areas.Admin.Models.AboutUsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="card-body">
    <h3>Haqqımızda</h3>
    <br />
    @if (TempData["SuccessedMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessedMessage"]
        </div>
    }

    <form class="forms-sample" asp-controller="aboutus" asp-action="update" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label for="exampleInputName1">Mətn</label>
            <textarea style="min-height:150px" type="text" asp-for="Text" class="form-control" id="exampleInputName1" placeholder=""></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
            <br />
            <label for="exampleInputName1">YouTube link</label>
            <input type="text" asp-for="YoutubeLink" class="form-control" id="exampleInputName1" placeholder="">
            <span asp-validation-for="YoutubeLink" class="text-danger"></span>
            <br />
            <button type="submit" class="btn btn-info">Yenilə</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
