@*<link rel="stylesheet" href="~/Footer/style.css" />*@
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
@*<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #071e22;
}
.mobile {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.sidebar1 {
  width: 600px;
  padding: 0 15px;
}

.sidebar2 {
  width: 300px;
  padding: 0 15px;
}
.sidebar3 {
  width: 300px;
  padding: 0 15px;
}
.image {
  width: 283.18px;
  height: 80px;
}

.image img {
  width: 100%;
  height: 100%;
}

.sub-description {
    text-align: start;
    padding-left: 15px;
  width: 100%;
  padding-top: 32px;
  color: #8f8f8f;
}

.contact-title {
    padding-left: 15px;
    text-align:start;
  margin: 18px 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
li {
    display:block;
  list-style-type: none;
}
a {
    float:left;
  text-decoration: none;
  color: #8f8f8f;
}
i{
    float:left;
    padding-top: 5px;
}
span{
    float: left;
}
a:hover {
  color: #008ac4;
}

.sidebar1-ul li,
.sidebar2-ul li {
  height: 32px;
}
.sidebar2-ul i {
  margin-right: 6px;
  color: #008ac4;
}

.sidebar1-ul li span {
  font-size: 16px;
  margin-left: 6px;
}

.sidebar1-ul li,
.sidebar1-ul li i {
  color: #8f8f8f;
}

@@media (max-width: 576px) {
  .footer {
    width: auto;
    padding-top: 30px;
    display: block;
  }
  h4 {
    max-width: 100%;
  }
  .sidebar1,
  .sidebar2,
  .sidebar3 {
    padding: 0 10px;
    width: 100%;
  }
  .sidebar2,
  .sidebar3 {
    display: inline-block;
  }
  .sidebar2 {
    width: 40%;
    float: left;
  }
  .sidebar3 {
    width: 55%;
    float: left;
  }

  .sub-description {
    width: 100%;
  }
  .contact-title {
    font-size: 12px;
  }

  .sidebar1-ul li span {
    font-size: 14px;
  }
}

</style>*@

<footer>
    <div class="footer">
        <div class="sidebar1">
            <div class="footer-logo">
                <div class="image">
                    <img src="~/Footer/elsmart-logo-light.png" alt="logo" />
                </div>
                <div class="sub-description">
                    “ELSMART” şirkəti olaraq premium həyat tərzini maksimum qənaətlə
                    təqdim edirik.Artıq ağıllı ev sistemləri dəb deyil, günümüzün
                    tələbatıdır.
                </div>
                <div class="contact-wrapper">
                    <h4 class="contact-title">Əlaqə vasitələri</h4>
                </div>
                <ul class="sidebar1-ul">
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>
                            Bakı şəhəri, Binəqədi rayonu, Əcəmi Naxçıvani küçəsi 3068
                        </span>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <span> info@elsmart.az </span>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span> (+994) 55 209 18 08 </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile">
            <div class="sidebar2">
                <h4 class="contact-title">Menyular</h4>
                <ul class="sidebar2-ul">
                    <li><i class="fa-solid fa-play"></i><a href="">Haqqımızda</a></li>
                    <li>
                        <i class="fa-solid fa-play"></i><a href="">Sertifikatlar</a>
                    </li>
                    <li><i class="fa-solid fa-play"></i><a href="">Portfolio</a></li>
                </ul>
            </div>
            <div class="sidebar3">
                <h4 class="contact-title">Xidmətlərimiz</h4>
                <ul class="sidebar2-ul">
                    <li><i class="fa-solid fa-play"></i><a href="">Haqqımızda</a></li>
                    <li>
                        <i class="fa-solid fa-play"></i><a href="">Sertifikatlar</a>
                    </li>
                    <li><i class="fa-solid fa-play"></i><a href="">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
