@{
    ViewData["Title"] = "Home";
}
@model List<Entity.Concrete.Product>

<style>
    .title-a {
        color: white;
    }

    body {
        font-family: poppins;
        background-color: #071e22;
        /*background-image: url('../Vitrin/img/smarthomeBackgorund.jpg');*/
        /*background-repeat:no-repeat;*/
        /*background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;*/
        /*filter: brightness(50%);*/
    }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired darkness */
            z-index: -1; /* Place the overlay behind the content */
        }

    service-box {
        background-color: #404040;
    }

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .ico-circle {
        box-shadow: 0 0 0 10px #1E1E1E;
    }

    @@media (min-width: 768px) {
        .left {
            width: 50%;
            float: left;
        }
    }
</style>

<div id="home" class="intro route bg-image" style="background-image: url(../Vitrin/img/smarthomeBackgorund.jpg); background-size: 100%; opacity: 1;">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container left">
                <h1 class="intro-title mb-4" style="font-weight:600; font-family:Poppins">Smart Systems</h1>
                <p class="intro-subtitle"><span class="text-slider-items" style="font-weight:100; font-family:Poppins">Ağıllı ev, Bina idarəetmə sistemləri</span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div>


<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a" style="margin-top:50px;">
                        Haqqımızda
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/aboutus">
                    <div class="service-box" style="background-color:#404040">
                        <div class="service-ico">
                            <span class="ico-circle" style="background-color: #404040"><i class="ion-information"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Şirkət haqqında</h2>
                            @*<p class="s-description text-center" style="color:white">
                                    Ağıllı ev layihəsi evlərin gündəlik həyatını daha rahat, təhlükəsiz və enerjiyə qənaət etmək üçün nəzərdə tutulmuş texnoloji layihələrdir.
                                </p>*@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/portfolio">
                    <div class="service-box" style="background-color:#404040">
                        <div class="service-ico">
                            <span class="ico-circle" style="background-color: #404040"><i class="ion-bag"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Görülən işlər</h2>
                            @*<p class="s-description text-center" style="color:white">
                                    Ağıllı ev layihəsi evlərin gündəlik həyatını daha rahat, təhlükəsiz və enerjiyə qənaət etmək üçün nəzərdə tutulmuş texnoloji layihələrdir.
                                </p>*@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/certificate">
                    <div class="service-box" style="background-color:#404040">
                        <div class="service-ico">
                            <span class="ico-circle" style="background-color: #404040"><i class="ion-ios-paper"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Sertifikatlar</h2>
                            @*<p class="s-description text-center" style="color:white">

                                </p>*@
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->
<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Bəzi məhsullar
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="work-box">
                        <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id">
                            <div class="work-img">
                                <img src="~/Images/Product/@item.PhotoUrl" alt="" class="img-fluid" style="Object-fit: cover; width:350px; height:218.75px">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:black" title="@item.Name">@item.Name</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory" style="color:black">@item.Category.Name</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--/ Section Blog End /-->
<!--/ Section Contact-Footer Star /-->
