@{
    ViewData["Title"] = "Yeni görülən iş";
}
@model WebUI.Areas.Admin.Models.PortfolioModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="card-body">
    <h3>Yeni iş əlavə et</h3>
    <br />
    <form class="forms-sample" asp-controller="portfolio" asp-action="add" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputName1">Ad</label>
            <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="">
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <label for="exampleInputName1">Haqqında</label>
            <textarea type="text" asp-for="Description" class="form-control" id="exampleInputName1" placeholder=""></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <br />
            <label for="exampleInputName1">Tarix</label>
            <input type="date" asp-for="Date" class="form-control" id="exampleInputName1" placeholder="">
            <span asp-validation-for="Date" class="text-danger"></span>
            <br />
            <label for="exampleInputName2">Əsas şəkil</label>
            <input type="file" asp-for="Photo" class="form-control" id="exampleInputName2" placeholder="">
            <span asp-validation-for="Photo" class="text-danger"></span>
            <br />
            <button type="submit" class="btn btn-info">Təstiqlə</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
