<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | SmartSystem</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="Ağıllı ev, bina idarəetmə sistemləri" name="description">

    <!-- Favicons -->
    <link href="~/Vitrin/img/TitleIcon.png" rel="icon" type="image/x-icon">
    <link href="~/Vitrin/img/TitleIcon.png" rel="apple-touch-icon">


    <!-- Bootstrap CSS File -->
    <link href="~/Vitrin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Vitrin/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Vitrin/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Vitrin/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Vitrin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Vitrin/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Vitrin/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->

    <style>

        .row-smedia-fixed {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .row-smedia {
            display: flex;
            justify-content: center;
            align-items: center;
            /* flex-wrap: wrap; */
            flex-direction: column;
            margin: 0 -8px;
        }

            .row-smedia li {
                display: inline-block;
                margin: 0px 8px 30px 8px;
            }

            .row-smedia svg {
                transition: transform 0.3s ease;
                color: #FFFFFF;
            }

                .row-smedia svg:hover {
                    transform: scale(1.1);
                }

        /* Logo styles */
        .logo img {
            max-width: 96px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        /* Column styles for social media links */
        .column-smedia {
            text-align: center;
            padding: 0 8px;
        }

            .column-smedia a {
                color: white;
                display: block;
                font-size: 2.4rem;
                text-decoration: none;
                border: 1px white solid;
                margin-bottom: 16px;
                padding: 16px 44px;
                border-radius: 45px;
                transition: all 0.3s linear;
            }

                .column-smedia a:hover {
                    color: black;
                    background-color: white;
                }

        /* Media query for mobile screens */
        @@media (max-width: 767px) {
            .container {
                padding: 10px;
            }

            .title {
                font-size: 2rem;
            }

            .row-smedia li {
                margin: 0px 8px 5px 8px;
            }

            .row-smedia svg {
                transition: transform 0.3s ease;
                color: #FFFFFF;
                width: 25px;
                height: 25px;
            }


            .logo img {
                max-width: 64px;
            }

            .column-smedia {
                width: 100%;
                padding: 0 16px;
            }

                .column-smedia a {
                    font-size: 1.8rem;
                    margin-bottom: 12px;
                    padding: 12px 36px;
                }
        }

        /* Footer Css */

        .footer-section {
            background: #151414;
            position: relative;
        }

        .footer-cta {
            border-bottom: 1px solid #373636;
        }

        .single-cta i {
            color: #ff5e14;
            font-size: 30px;
            float: left;
            margin-top: 8px;
        }

        .cta-text {
            padding-left: 15px;
            display: inline-block;
        }

            .cta-text h4 {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 2px;
            }

            .cta-text span {
                color: #757575;
                font-size: 15px;
            }

        .footer-content {
            position: relative;
            z-index: 2;
        }

        .footer-pattern img {
            position: absolute;
            top: 0;
            left: 0;
            height: 330px;
            background-size: cover;
            background-position: 100% 100%;
        }

        .footer-logo {
            margin-bottom: 30px;
        }

            .footer-logo img {
                max-width: 200px;
            }

        .footer-text p {
            margin-bottom: 14px;
            font-size: 14px;
            color: #7e7e7e;
            line-height: 28px;
            text-align: start;
        }

        .footer-social-icon span {
            color: #fff;
            display: block;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 20px;
        }
        /* .footer-social-icon a {
          color: #fff;
          font-size: 16px;
          margin-right: 15px;
        } */
        /* .footer-social-icon i {
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 38px;
          border-radius: 50%;
        } */
        .facebook-bg {
            background: #3B5998;
        }

        .twitter-bg {
            background: #55ACEE;
        }

        .google-bg {
            background: #DD4B39;
        }

        .footer-widget-heading h3 {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
            position: relative;
        }

            .footer-widget-heading h3::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -15px;
                height: 2px;
                width: 50px;
                background: #ff5e14;
            }

        .footer-widget ul li {
            display: inline-block;
            float: left;
            width: 50%;
            margin-bottom: 12px;
            text-align: start;
        }

            .footer-widget ul li a:hover {
                color: #ff5e14;
            }

            .footer-widget ul li a {
                color: #878787;
                text-transform: capitalize;
            }

        .subscribe-form {
            position: relative;
            overflow: hidden;
        }

            .subscribe-form input {
                width: 100%;
                padding: 14px 28px;
                background: #2E2E2E;
                border: 1px solid #2E2E2E;
                color: #fff;
            }

            .subscribe-form button {
                position: absolute;
                right: 0;
                background: #ff5e14;
                padding: 13px 20px;
                border: 1px solid #ff5e14;
                top: 0;
            }

                .subscribe-form button i {
                    color: #fff;
                    font-size: 22px;
                    transform: rotate(-6deg);
                }

        .copyright-area {
            background: #202020;
            padding: 25px 0;
        }

        .copyright-text p {
            margin: 0;
            font-size: 14px;
            color: #878787;
        }

            .copyright-text p a {
                color: #ff5e14;
            }

        .footer-menu li {
            display: inline-block;
            margin-left: 20px;
        }

            .footer-menu li:hover a {
                color: #ff5e14;
            }

            .footer-menu li a {
                font-size: 14px;
                color: #878787;
            }
    </style>


</head>


<body id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav" style="background-color: #071e22">
        <div class="container">
            <a class="navbar-brand js-scroll" style="color: #71717f; font-family: Poppins" asp-controller="home" asp-action="index">SmartSystem.az</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color:white; font-family: Poppins" class="nav-link js-scroll" href="/home">ANA SƏHİFƏ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: white; font-family: Poppins" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">XİDMƏTLƏRİMİZ <span class="drop-icon">▾</span></a>
                        <div class="dropdown-menu" style="background-color: #071E22;">
                            <a class="dropdown-item" href="/service/smarthome" data-toggle="false" style="color:white">AĞIILLI ŞƏHƏR</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: white; font-family: Poppins" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HAQQIMIZDA <span class="drop-icon">▾</span></a>
                        <div class="dropdown-menu" style=" margin: 0; background-color: #071E22; color:white">
                            <a class="dropdown-item" href="/aboutus/" style="color:white">HAQQIMIZDA</a>
                            <a class="dropdown-item" href="/portfolio/" style="color:white">GÖRÜLƏN İŞLƏR</a>
                            <a class="dropdown-item" href="/certificate/" style="color:white">SERTİFİKATLAR</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a style="color: white; font-family: Poppins" class="nav-link js-scroll" href="/product">MƏHSULLAR</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white; font-family: Poppins" class="nav-link js-scroll" href="/contact">ƏLAQƏ</a>
                    </li>
                </ul>
            </div>
        </div>

        @*<div class="news-ticker">
                <ul id="ticker-list">
                    <li>breaking news: this is the first news item</li>
                    <li>important update: something significant happened</li>
                </ul>
            </div>*@
    </nav>
    @*<script>
            document.addEventListener('DOMContentLoaded', function () {
              var navItems = document.getElementById('#navbarDefault');


              navItems.addEventListener('click', function (event) {
                // Check if the screen width is less than or equal to 600 pixels (mobile)
                if (window.innerWidth <= 600) {
                  // Prevent the default behavior of closing the dropdown
                  event.preventDefault();

                  // Toggle the 'show' class on the submenu
                  this.querySelector('.submenu').classList.toggle('show');
                }
              });
            });
        </script>*@



    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    @RenderBody()


    <!--/ Intro Skew End /-->
    <!--/ Section Portfolio Star /-->
    <!--/ Section Portfolio End /-->
    <!--/ Section Testimonials Star /-->
    <!--/ Section Blog Star /-->
    <!--/ Section Blog End /-->
    <!--/ Section Contact-Footer Star /-->
    <!-- Start Footer Area Wrapper -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Ünvan</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Bizimlə əlaqə</h4>
                                <span>+994 50 999 96 97</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail</h4>
                                <span>info@smartsystem.az</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/home/index"><img src="~/ContactTemplate/Logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Linklər</h3>
                            </div>
                            <ul>
                                <li><a href="/home/index/">SmartSystems</a></li>
                                <li><a href="/aboutus/index/">Haqqımızda</a></li>
                                <li><a href="/product/index/">Məhsullar</a></li>
                                <li><a href="/contact/index">Əlaqə</a></li>
                                <li><a href="/service/smarthome">Xidmətlərimiz</a></li>
                            </ul>
                        </div>
                    </div>
                    @await Component.InvokeAsync("SocialMediaInFooter")
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Powered by &copy; @DateTime.Now.Year, Bütün huquqlar qorunur <a href="https://smartsystem.az/">SmartSystem</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/home/index/">SmartSystems |</a></li>
                                <li><a href="/aboutus/index/">Haqqımızda |</a></li>
                                <li><a href="/product/index/">Məhsullar |</a></li>
                                <li><a href="/contact/index">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>   


    <!-- JavaScript Libraries -->
    <script src="~/Vitrin/lib/jquery/jquery.min.js"></script>
    <script src="~/Vitrin/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Vitrin/lib/popper/popper.min.js"></script>
    <script src="~/Vitrin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Vitrin/lib/easing/easing.min.js"></script>
    <script src="~/Vitrin/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Vitrin/lib/counterup/jquery.counterup.js"></script>
    <script src="~/Vitrin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Vitrin/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Vitrin/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Vitrin/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script>
        // JavaScript is not required for the basic ticker functionality, but you can use it for dynamic updates.

        // Example: Add a new news item dynamically
        const tickerList = document.getElementById("ticker-list");
        const newNewsItem = document.createElement("li");
        newNewsItem.textContent = "Just In: Exciting development announced!";
        tickerList.appendChild(newNewsItem);

    </script>

    <script>
        (function ($) {
            "use strict";

            /*--/ Star Typed /--*/
            if ($('.text-slider').length == 1) {
                var typed_strings = $('.text-slider-items').text();
                var typed = new Typed('.text-slider', {
                    strings: typed_strings.split(','),
                    typeSpeed: 80,
                    loop: true,
                    backDelay: 1100,
                    backSpeed: 30
                });
            }

            /*--/ Testimonials owl /--*/
            $('#testimonial-mf').owlCarousel({
                margin: 20,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                    }
                }
            });

        })(jQuery);
    </script>
</body>
</html>
