@{
    ViewData["Title"] = "Email yenilə";
}
@model WebUI.Areas.Admin.Models.ChangePasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="card-body">
    <h3>Email yeniləmək</h3>
    <br />
    @if (TempData["SuccessedMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessedMessage"]
        </div>
    }

    <form class="forms-sample" asp-controller="user" asp-action="changepassword" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputName1">Parol</label>
            <input type="password" asp-for="Password" class="form-control" id="exampleInputName1" placeholder="" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <label for="exampleInputName1">Yeni parol</label>
            <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputName1" placeholder="" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <br />
            <label for="exampleInputName1">Parolu təstiqlə</label>
            <input type="password" asp-for="NewPasswordConfirm" class="form-control" id="exampleInputName1" placeholder="">
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            <br />
            <button type="submit" class="btn btn-info">Yenilə</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
